<section>
    <div class="d-flex justify-content-between">
        <h1 class="letraTienda">Listado de productos</h1>
        <button class="btn btn-dark fw-bold">Crear producto</button>
    </div>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
                <th scope="col">Categoría</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">hoodie Negro</td>
                <td class="align-middle">$ 150.000</td>
                <td class="align-middle">
                    <img src="https://via.placeholder.com/40x40" alt="">
                </td>
                <td class="align-middle">Busos</td>
                <td class="align-middle">
                    <i class="iconoTD tdEditar fa-solid fa-pencil mx-2" routerLink="/admin/formulario-productos"></i>
                    <i class="iconoTD tdEliminar fa-solid fa-trash-can mx-2"></i>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Falda floripepiada</td>
                <td class="align-middle">$ 70.000</td>
                <td class="align-middle">
                    <img src="https://via.placeholder.com/40x40" alt="">
                </td>
                <td class="align-middle">Faldas</td>
                <td class="align-middle">
                    <i class="iconoTD tdEditar fa-solid fa-pencil mx-2" routerLink="/admin/formulario-productos"></i>
                    <i class="iconoTD tdEliminar fa-solid fa-trash-can mx-2"></i>
                </td>
            </tr>
            <tr>
                <td class="align-middle">Kukos atrapapedos</td>
                <td class="align-middle">$ 40.000</td>
                <td class="align-middle">
                    <img src="https://via.placeholder.com/40x40" alt="">
                </td>
                <td class="align-middle">Ropa intima</td>
                <td class="align-middle">
                    <i class="iconoTD tdEditar fa-solid fa-pencil mx-2" routerLink="/admin/formulario-productos"></i>
                    <i class="iconoTD tdEliminar fa-solid fa-trash-can mx-2"></i>
                </td>
            </tr>
        </tbody>
    </table>
</section>
