<app-navbar></app-navbar>
<section class="row {{estiloUsuario}}">
    <div class="col-3 bg-dark">
        <button (click)="cambiarTemaUsuario()">
            <label>Cambiar tema</label>
            <i class="ms-4 fa-solid fa-sun"></i>
        </button>
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <div class="scroll-auto-mq mt-4 pb-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
<div class="contenedor">
    <footer class="bg-dark">
        <label class="w-100 text-white fw-bold text-center">Todos los derechos reservados &copy; 2023</label>
    </footer>
</div>
